.game-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 74vh;
    height: 74vh;
    background-color: black;
    position: relative;
}

.game-board div{
    display: block;
    position: relative;
    background-color: #779556;
    margin: 0.1vh;
    width: 8vh;
    height: 8vh;
    padding: 0px;
    border: none;
    outline: none;
    z-index: 2;
}

.piece{
    position: absolute;
    z-index: 3;
    width: 6.5vh;
}

.black{
    rotate: 180deg;
}

.white{
    z-index: 1;
}

div.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1vw;
}

div.game-area {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    div.player-tag {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {
            display: flex;
        }

        img {
            height: 8vh;
            width: 8vh;
            margin-right: 5px;
            border-radius: 3px;
        }

        strong {
            font-size: 4vh;
            color: white;
        }

        div.timer-area {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 16vh;
            height: 6vh;
            border-radius: 1vh;
        }

        h1 {
            display: block;
            // padding: 3vh 8vh;
            // width: 16vh;
            // height: 6vh;
            text-align: right;
            font-size: 4vh;
            margin-right: 1vh;
        }

        i {
            margin-left: 1.5vh;
            font-size: 3vh;
        }
    }

    div.black-player {
        div.timer-area {
            background-color: black;
            opacity: .2;
        }
        h1 {
            color: white;
        }
        i {
            color: white;
        }
    }

    div.white-player {
        div.timer-area {
            background-color: white;
            opacity: .2;
        }
        h1 {
            color: black;
        }
        i {
            color: black;
        }
    }

    div.move-active {
        div.timer-area {
            opacity: 1;
            justify-content: space-between;
        }

    }
}