.game-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 74vh;
    height: 74vh;
    background-color: black;
    position: relative;
}

.game-board div{
    display: block;
    position: relative;
    background-color: #779556;
    margin: 0.1vh;
    width: 8vh;
    height: 8vh;
    padding: 0px;
    border: none;
    outline: none;
    z-index: 2;
}

.piece{
    position: absolute;
    z-index: 3;
    width: 6.5vh;
}

.black{
    rotate: 180deg;
}

.white{
    z-index: 1;
}

div.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1vw;
}

div.game-area {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    div.player-tag {
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        border-radius: 5px;

        img {
            height: 30px;
            width: 30px;
            margin-right: 5px;
            border-radius: 3px;
        }

        strong {
            font-size: 148x;
        }
    }

    div.black-player {
        background-color: black;
        color: white;
        border: 1px solid black;
        opacity: .3;
    }

    div.white-player {
        background-color: white;
        color: black;
        border: 1px solid white;
        opacity: .3;
    }

    div.move-active {
        opacity: 1;
    }
}