#modal {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #312E2B;
    opacity: 0.8;
    z-index: 100;
}

#modal-content {
    position: absolute;
    background-color: #262421;
    border-radius: 10px;
    width: 450px;
    height: 600px;
    z-index: 101;
}

#modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


#modal-content form button {
    position: absolute;
    top: 300px;
    background-color: #7fa650;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0 0.1rem 0 rgba(0,0,0,.25);
    transition: all .07s;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 350px;
    box-shadow: darkgreen;
}

#modal-content form button:hover {
    background-color: #95bb4a;
}

#modal-content form div.input-area {
    margin: 40px 40px;

}

#modal-content form div div.input-field {
    background-color: #3C3A38;
    margin: 10px 0;
    width: 350px;
    height: 45px;
    font-size: 30px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
}

#modal-content form div div.input-field input{
    background-color: #3C3A38;
    border: none;
    color: white;
    width: 260px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}

#modal-content form div div.input-field input:focus{
    border: none;
    outline: none;
}

#modal-content form div div.input-field input.credential-field{
    width: 300px;
}

#modal-content form div div.input-field i {
    color: lightgrey;
}

#modal-content form div div.input-field strong{
    width: 15px;
    margin-left: 5px;
    margin-right: 10px;
}

#modal-content form div div.input-field strong.eye:hover{
    cursor: pointer;
}

#modal-content form div.input-field:hover{
    border: 1px solid white;
}

#modal-content form div.input-field:focus-within{
    border: 1px solid white;
}

#modal-content form div.input-area ul {
    background-color: orangered;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

#modal-content form div.input-area ul li {
    width: 350px;
}

#slash {
    transform: translateX(-2px);
}

div.or-separator {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 370px;
}
div.or-separator span.or-value{
    font-size: 25px;
    font-weight: 100;
    color: lightgray;
}

div.or-separator span.span-line {
    width: 120px;
    height: 1px;
    border: 1px solid gray;
    background-color: gray;
}

div.redirect-sign-method {
    height: 60px;
    color: rgb(193,193,192);
    background-color: #211F1C;
    width: 450px;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
}

div.redirect-sign-method span.link-method {
    color: rgb(80,171,212);
    margin-left: 5px;
}

div.redirect-sign-method:hover {
    color: rgb(193,193,192, 0.7);
    cursor: pointer;
}

div.redirect-sign-method:hover span.link-method{
    color: rgb(80,171,212, 0.7);
}

#modal-content form.signup-form button {
    top: 400px;
}

form.signup-form div.or-separator {
    top: 470px;
}
